/* Profile.css */

.profile-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .profile-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-content {
    display: flex;
    gap: 20px;
  }
  
  .profile-sidebar {
    width: 25%;
  }
  
  .profile-sidebar img {
    width: 100%;
    border-radius: 50%;
  }
  
  .profile-form {
    flex: 1;
  }
  
  .profile-form form {
    display: flex;
    flex-direction: column;
  }
  
  .profile-form h2 {
    margin: 20px 0 10px;
  }
  
  .profile-form hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 10px 0;
  }
  
  .profile-form input,
  .profile-form select,
  .profile-form button {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .profile-form input:focus,
  .profile-form select:focus {
    outline: none;
    border-color: #4caf50;
  }
  
  .profile-form button {
    background-color: #4caf50;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .profile-form button:hover {
    background-color: #45a049;
  }
  
  /* Customize the styles based on your design preferences */
  

  .profile .links a{
    display: block;
    text-decoration: none;
    color: #100a1c;
    margin-bottom: 15px;
    
}
.profile .links{
    margin-top: 20px;
}
.profile .links .ls-info{
    color: #000;
    font-weight: 900;
}
.profile{
    margin-bottom: 100px;

}

.profile-card{
  background: linear-gradient(115.76deg,rgba(0, 86, 179,.09) 9.51%,rgba(19, 120, 227,.09) 66.27%);
  border-radius: 24px;
  padding: 40px;
  justify-content: space-between;
  display: flex;
}

.profile-card i{
  font-size: 32px;
}
.profile-card button{
  justify-content: flex-end;
  padding: 0;
}
.profile{
  padding-top: 60px;
  padding-bottom: 30px;
}
