/* YourComponent.module.css */
.shoppingButton {
    float: right;
    position: relative;
    
    top: -10px;
    width: 50px;
    height: 50px;
    color: white;
    border: none;
    border-radius: 50%;
    transition: background-color 0.3s ease; /* Add a transition for smooth color change */
  }
  
  .shoppingButton:hover {
    background-color: black; /* Change the background color on hover */
  }
  
  .loader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 160px 0px;
  }
  