.our{
    color: #000;
font-family: 'Lobster Two', sans-serif;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 70px;
}
.main-screen{
    margin-right: 50px;
   max-width: 700px;
height: 240px;
overflow-y: scroll;

padding: 28px 32px;
margin-top: 50px;
margin-bottom: 50px;
border-radius: 20px;
border: 1px solid rgba(0, 0, 0, 0.10);
}
.user{
    margin-right: 10px;
    margin-bottom: 10px;
    color: #000;
leading-trim: both;
text-edge: cap;
font-family: 'Lobster Two', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 22px; /* 110% */
}
.text{
    overflow-y: scroll;
}

.os{
    display: flex;
width: 400px;
height: 240px;
padding: 28px 32px;
align-items: flex-start;
align-content: flex-start;
padding: 24px 32px;
max-width: 400px;
gap: 24px 342px;
flex-shrink: 0;
flex-wrap: wrap;
border-radius: 20px;
border: 1px solid rgba(0, 0, 0, 0.10);
}